.container {
  max-width: 50rem;
  margin: auto;
}

.repo_card {
  padding: 1rem;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.error_msg {
  color: red;
}