.container {
  max-width: 50rem;
  margin: auto;
  padding-top: 2rem;
}

.repo_card {
  padding: 1rem;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.error_msg {
  color: red;
}

.btn {
  padding: .4rem .6rem;
}

.language_filter_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}