.repo_card {
  padding: 1rem;
  border: 1px lightgray solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  cursor: pointer;
}

.repo_card > p {
  margin-bottom: 0.3rem;
}

.error_msg {
  color: red;
}

.btn {
  padding: 0.4rem 0.6rem;
}

.language_filter_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
